<ion-view view-title="List Two">
    <ion-content>
        <ion-list>
            <form ng-submit="addItem()" class="row item-button-right">
                <input class="col-50" ng-model="data.item" type="text" placeholder="Add an item here..." required>
                <input type="submit" value="Add task" class="button button-positive">
            </form>
            <ion-item ng-repeat="item in items track by $id($index)" class="item item-button-right positive item-text-wrap">
                <input ng-model="item.done" type="checkbox">
                <span ng-class="{'done':item.done}">{{ item.title }}</span>
                <button ng-click="deleteItem($index)" class="button icon ion-close-round button-assertive"></button>
            </ion-item>
            <ion-item class=text-center>
                <input ng-click="clearCompleted()" type="submit" value="Clear completed" class="button button-royal">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>