<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-royal">
            <h1 class="title">Pick your list</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-click="reloadState()" menu-close href="#/app/list-one:list-one" class="balanced">
                    List One
                </ion-item>
                <ion-item menu-close ng-click="reloadState()" href="#/app/list-two:list-two" class="positive">
                    List Two
                </ion-item>
                <ion-item menu-close ng-click="reloadState()" href="#/app/list-three:list-three" class="royal">
                    List Three
                </ion-item>
                <ion-item menu-close href="#/app/list-three:list-three" class="assertive">
                    Settings
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>