<ion-view view-title="Settings">
    <ion-content>

        <ion-list>
            <ion-item class="energized">
                <input type="checkbox" ng-model="checked" id="item1">
                <span ng-class="{'checked':setting.checked}">Vibrate on item complete</span>
            </ion-item>
            <ion-item class="balanced">
                <input type="checkbox" ng-model="checked" id="item2"> Notify when list completed
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>